body {
	background-color: #1FB4FF;
}

#container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 750px;
	min-width: 500px;
	margin-top: 25px;
}

#main {
	background-color: #FFF;
	height: 90vh;
	margin-top: 3px;
	border-radius: 15px;
	border-top-left-radius: 0px;
	overflow: auto;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 20px;
}

#navbar {
	display: block;
}

.navitem {
	display: inline-block;
	background: #BABABA;
	width: 20%;
	max-width: 250px;
	min-width: 175px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: -90px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#currentitem {
	background-color: #FFF;
}

a {
	text-decoration: none;
	color: #000;
}

#resumepdf {
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	border: none;
	height: 94%;
}

#footerp {
	font-size: 9px;
	text-align: center;
	color: #FFF;
}

.project {
	height: 150px;
	overflow: hidden;
	border-radius: 15px;
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: 4px outset #1FB4FF;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

.projecticon {
	height: 130px;
	width: 130px;
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 15px;
}

.project:hover {
	border: 4px inset #1FB4FF;
}

.description {
	padding: 20px;
}